<template>
	<div class="default-body">
		<div class="default-head">
			<MainHead></MainHead>
		</div>
        <el-row v-if="this.user.ID>0 && $route.path !='/login'">
            <el-container>
                <el-aside class="body-left" width="200px">
                    <el-row class="menu-left">
                      <el-col >
                        <el-tag effect="dark" class="body-left-title">管理選單</el-tag>
                        <el-menu class="body-left-menu" >
                            <el-submenu :index="index" v-for="(item, index) in config.menu_type" :key="index">
                                <template slot="title">
                                    <i class="el-icon-hot-water icon"></i>
                                    {{item}}
                                </template>
                               <el-menu-item :index="index +'-'+ index2" v-for="(item2, index2) in user.Router[index]" :key="index2" @click="go2page(item2.RouterPath)">
                                    <span class="main-subtitle">{{item2.RouterName}}</span>
                                </el-menu-item>
                            </el-submenu>
                            <el-menu-item index="99" @click="Logout">
                                <i class="el-icon-switch-button icon"></i> <span class="main-subtitle">系統登出</span>
                            </el-menu-item>
                         </el-menu>
                      </el-col>
                    </el-row>
                </el-aside>
                <el-main class="default-content">
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-row>
        <el-row v-if="$route.path =='/login'">
            <el-main class="default-content">
                <router-view></router-view>
            </el-main>
        </el-row>
		<div class="default-foot">
			<MainFoot></MainFoot>
		</div>
	</div>
</template>
<script>
import { apiCheckLogin,apiLogout } from "@/api.js";
import MainHead from '@/components/main-head.vue'
import MainFoot from '@/components/main-foot.vue'
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {

        }
    },
	components: {
		MainHead,
		MainFoot
	},
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
    },
    methods: {
        checkLogin()
        {
            apiCheckLogin({
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.$router.push("/login");
                    }
                    if(response.data.status)
                    {
                        this.$store.dispatch('setUserInfo',response.data.data);
                        this.login_path=false;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        Logout()
        {
            apiLogout({
            })
            .then(response => {
                if(response.data.status)
                {
                    this.message(this.$t('msg81'));
                    this.$store.dispatch('clearUserInfo');
                    this.login_path=true
                    this.$router.push("/login");
                }else
                {
                    this.message(response.data.data.message);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    created() {
        if(this.user.ID==0 && this.$route.path !="/login")
        {
            this.checkLogin()
        }
    },
  
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
.default-body
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    bottom 0px
    background-color: $main-bg-color;
.mainSearch
    table
        table-layout:fixed;
    .mainTable
        width 100%
        .td-head
            padding 10px
        .td-content
            padding 5px
        .tr-color
            background-color $td-bg-color
        tr:hover
            background-color $td-bg-hover-color
        .td-min
            width 50px
        .td-date
            width 180px
        .td-max
            width 500px
        .content-subtitle
            white-space : nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
.Dashboard
    .Dashboard-item
        padding 15px 20px
    .Dashboard-item-text
        padding 5px 15px
    .Dashboard-total
        background-color $dashboard-bg-total-color
        color $dashboard-font-total-color
    .Dashboard-in-total
        background-color $dashboard-in-total-color
        color $dashboard-font-total-color
    .Dashboard-out-total
        background-color $dashboard-out-total-color
        color $dashboard-font-total-color
.form-item
    padding 0px 10px
.form-info
    color $font-green-color
    border: 1px $font-green-color solid;
    border-radius: 4px;
    padding: 0px 10px;
.body-left-title
    width 100%
    text-align center
    font-size 16px
.mainPage
    width 100%
    text-align: center;
.no-record
    text-align: center;
    padding 20px
    .no-record-txt
        padding 10px
.dialog-footer
    text-align center
.default-foot
    width 100%
.time-icon
    color $time-icon-color
</style>