<template>
    <div>
        <el-row >
            <el-col>
                <el-button type="primary" @click="updated" >{{$t('msg16')}}</el-button>
            </el-col>
            <div class="mainSearch" >
                <table cellspacing="0" cellpadding="0" border="0" class="mainTable" >
                    <tr>
                        <td class="td-head td-min">#</td>
                        <td class="td-head">{{$t('Prod.Name')}}</td>
                        <td class="td-head">{{$t('Prod.Cost')}}</td>
                        <td class="td-head">{{$t('Prod.Price')}}</td>
                        <td class="td-head">{{$t('Prod.MaxPrice')}}</td>
                        <td class="td-head">{{$t('Prod.Bonus')}}(%)</td>
                        <td class="td-head">{{$t('Prod.BonusDay')}}(Days)</td>
                        <td class="td-head">{{$t('Prod.Ending')}}</td>
                        <td class="td-head">{{$t('Prod.Enable')}}</td>
                        <td class="td-head">{{$t('Prod.Note')}}</td>
                    </tr>
                    <tr v-for="(item, index) in results" :key="index" :class="{'tr-color':index%2==0}">
                        <td class="td-content">{{ item.ID }}</td>
                        <td class="td-content">
                            <el-input v-model="results[index].Name" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].Cost" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].Price" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].MaxPrice" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].Bonus" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].BonusDay" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].Ending" size="small"  ></el-input>
                        </td>
                        <td class="td-content">
                            <el-switch
                              v-model="results[index].Enable"
                              :active-text="$t('msg1')"
                              :inactive-text="$t('msg2')"
                              :active-value="1"
                              :inactive-value="0"
                              @change="updateEnable(item)"
                              >
                            </el-switch>
                        </td>
                        <td class="td-content">
                            <el-input v-model="results[index].Note" type="textarea" :rows="2"  ></el-input>
                        </td>
                    </tr>
                </table>
                <div class="no-record" v-if="!results">
                    <img class="no-record-img" src="@/assets/images/norecord.png">
                    <div class="no-record-txt">{{$t('msg17')}}</div>
                </div>
            </div>
            <el-col>
                <el-button type="primary" @click="updated" >{{$t('msg16')}}</el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiProdList,apiProdSet,apiProdSetEnable } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            from:{
                ID:0,
                Enable:0,
                Title:"",
                Content:"",
            },
            results:[],
        }
    },
    methods: {
        updateEnable(item)
        {
            var api = apiProdSetEnable
            api(item)
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.message(this.$t('msg40'))
                        this.getLog()
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        updated()
        {
            var api = apiProdSet
            api(this.results)
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.message(this.$t('msg40'))
                        this.getLog()
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        getLog()
        {
            this.results = []
            apiProdList({
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        // let data = {}
                        // for(var n in response.data.data)
                        // {
                        //     // data = {
                        //     //     'Title' : this.$t('Param.'+n),
                        //     //     'Key' : n,
                        //     //     'Value' : response.data.data[n],
                        //     // }
                            
                        // }
                        this.results=response.data.data;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>