<template>
    <div>
index
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            activeIndex: "6",
        }
    },
    methods: {

    },
    computed: {
		...mapGetters({
            config: "config",
            user: "user",
        }),
    },
    components: {

    },
    created() 
    {
    },
}

</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>
