<template>
    <div>
        <el-row >
            <el-col>
                <el-button type="primary" @click="add" >{{$t('msg7')}}</el-button>
                <el-button type="primary" @click="search" >{{$t('msg28')}}</el-button>
            </el-col>
            <div class="mainSearch" >
                <table cellspacing="0" cellpadding="0" border="0" class="mainTable">
                    <tr>
                        <td class="td-head td-min">#</td>
                        <td class="td-head td-min">{{$t('msg9')}}</td>
                        <td class="td-head">{{$t('msg41')}}</td>
                        <td class="td-head">{{$t('msg42')}}</td>
                        <td class="td-head">{{$t('msg12')}}</td>
                        <td class="td-head">{{$t('msg43')}}</td>
                        <td class="td-head">{{$t('msg45')}}</td>
                        <td class="td-head td-date">{{$t('msg44')}}</td>
                        <td class="td-head td-date">{{$t('msg25')}}</td>
                        <td class="td-head">{{$t('msg15')}}</td>
                    </tr>
                    <tr v-for="(item, index) in results" :key="index" :class="{'tr-color':index%2==0}">
                        <td class="td-content">{{ item.ID }}</td>
                        <td class="td-content">
                            <el-tag v-if="item.Enable==1">{{ getEnableStatus(item) }}</el-tag>
                            <el-tag type="danger" v-if="item.Enable==0">{{ getEnableStatus(item) }}</el-tag>
                        </td>
                        <td class="td-content">{{ item.Username }}</td>
                        <td class="td-content">{{ item.Coin | numFilter }}</td>
                        <td class="td-content">{{ item.Memo }}</td>
                        <td class="td-content">{{ item.LoginIP }}</td>
                        <td class="td-content">{{ item.RegIP }}</td>
                        <td class="td-content">{{ getMomentFullDate(item.LoginAt) }}</td>
                        <td class="td-content">{{ getMomentFullDate(item.CreatedAt) }}</td>
                        <td class="td-content">
                            <el-button type="primary" @click="update(item)" >{{$t('msg16')}}</el-button>
                            <el-button type="primary" @click="bank(item)" >{{$t('msg51')}}</el-button>
                        </td>
                    </tr>
                </table>
                <div class="mainPage">
                    <el-pagination
                      background
                      layout="prev, pager, next"
                      :total="page.total"
                      :page-size="page.pageSize"
                      :current-page="page.page"
                      @current-change="getLog"
                      >
                    </el-pagination>
                </div>
                <div class="no-record" v-if="!results">
                    <img class="no-record-img" src="@/assets/images/norecord.png">
                    <div class="no-record-txt">{{$t('msg17')}}</div>
                </div>
            </div>
        </el-row>
        <el-dialog :visible.sync="dialog.Visible" :destroy-on-close="true" :close-on-click-modal="false" width="600px">
            <el-row>
                <el-col >
                    <el-row>
                        <el-col>
                          <el-form :model="from" ref="ruleForm" :rules="rules" status-icon>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg41')" prop="Username" class="form-item">
                                      <el-input v-model="from.Username" :disabled="act=='set'" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg18')" prop="Coin" class="form-item">
                                      <el-input v-model="from.Password" show-password :placeholder="$t('msg19')" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg49')" prop="Coin" class="form-item">
                                      <el-input v-model="from.CoinPassword" show-password :placeholder="$t('msg49')" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg42')" prop="Coin" class="form-item">
                                      <el-input v-model="from.Coin" :disabled="true" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg46')" prop="Phone" class="form-item">
                                      <el-input v-model="from.Phone" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg47')" prop="Line" class="form-item">
                                      <el-input v-model="from.Line"  ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('msg48')" prop="Email" class="form-item">
                                      <el-input v-model="from.Email"  ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg24')" prop="Memo" class="form-item">
                                      <el-input v-model="from.Memo"  type="textarea" :rows="3" :placeholder="$t('msg26')" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg9')" prop="Enable" class="form-item">
                                        <el-radio v-model="from.Enable" :label="1">{{$t('msg1')}}</el-radio>
                                        <el-radio v-model="from.Enable" :label="0">{{$t('msg2')}}</el-radio>
                                    </el-form-item>
                                </el-col>
                          </el-form>
                        </el-col>
                        <el-col>
                            <div class="dialog-footer">
                                <el-button style="width: 80%;" type="primary" :loading="loading" @click="updated" v-if="act=='set'">{{$t('msg21')}}</el-button>
                                <el-button style="width: 80%;" type="primary" :loading="loading" @click="updated" v-if="act=='add'">{{$t('msg22')}}</el-button>
                            </div>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-dialog>
        <el-dialog :visible.sync="filterData.Visible" :destroy-on-close="true" :close-on-click-modal="false" width="600px">
            <el-row>
                <el-col >
                  <el-form :model="filterData"  status-icon>
                    <el-form-item :label="$t('msg44')" prop="Date">
                        <el-date-picker
                            v-model="filterData.Date"
                            type="daterange"
                            align="right"
                            unlink-panels
                            range-separator="~"
                            :start-placeholder="$t('msg29')"
                            :end-placeholder="$t('msg29')"
                            >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item :label="$t('msg41')" prop="Content">
                      <el-input v-model="filterData.Username" :placeholder="$t('msg41')" ></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('msg43')" prop="Content">
                      <el-input v-model="filterData.LoginIP" :placeholder="$t('msg43')" ></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>
                <el-col class="dialog-footer">
                    <el-button type="success" icon="el-icon-search" @click="searched">{{$t('msg28')}}</el-button>
                </el-col>
            </el-row>
        </el-dialog>
        <el-dialog :visible.sync="dialog.bank" :destroy-on-close="true" :close-on-click-modal="false" width="600px">
            <el-row>
                <el-col >
                    <el-row>
                        <el-col>
                          <el-form :model="bankfrom" ref="ruleForm" :rules="rules" status-icon>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg41')" prop="Username" class="form-item">
                                      <el-input v-model="bankfrom.Username" :disabled="true" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg51')" prop="BankID" class="form-item">
                                        <el-select v-model="bankfrom.BankID" :placeholder="$t('msg52')">
                                            <el-option
                                                v-for="item in bankList"
                                                :key="item.ID"
                                                :label="item.Name"
                                                :value="item.ID">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg54')" prop="Accountname" class="form-item">
                                      <el-input v-model="bankfrom.Accountname"  :placeholder="$t('msg54')"  ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('msg53')" prop="Account" class="form-item">
                                      <el-input v-model="bankfrom.Account"  :placeholder="$t('msg53')" ></el-input>
                                    </el-form-item>
                                </el-col>
                          </el-form>
                        </el-col>
                        <el-col>
                            <div class="dialog-footer">
                                <el-button style="width: 80%;" type="primary" :loading="loading" @click="banked" >{{$t('msg21')}}</el-button>
                            </div>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiUserList,apiUserSet,apiUserAdd,apiUserBank,apiUserBankSet } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            fileList:[],
            act:"set",
            loading:false,
            dialog:{
                Visible:false,
                bank:false,
            },
            from:{
                ID:0,
                Enable:0,
                Username:"",
                Coin:"",
                Phone:"",
                Line:"",
                Email:"",
                Memo:"",
                Password:"",
                CoinPassword:"",
            },
            bankfrom:{
                BankID:0,
                Account:"",
                Username:"",
                Accountname:"",
            },
            page:{
                page:0,
                pageSize:0,
                total:0,
                totalPage:0,
            },
            filterData:{
                Visible:false,
                Date:'',
            },
            rules: {
              Username: [
                { required: true, message: this.$t('msg31'), trigger: 'blur' },
              ],
              Enable: [
                { required: true, message: this.$t('msg32'), trigger: 'blur' },
              ],
              Password: [
                { required: true, message: this.$t('msg37'), trigger: 'blur' },
              ],
            },
            results:[],
            bankList:[],
        }
    },
    methods: {
        bank(item)
        {
            this.dialog.bank=true
            apiUserBank({
                Username: item.Username,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        let data = response.data.data
                        this.bankfrom.BankID=data.data.BankID
                        this.bankfrom.Username=item.Username
                        this.bankfrom.Account=data.data.Account
                        this.bankfrom.Accountname=data.data.Accountname
                        this.bankList=data.bank
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        banked()
        {
            apiUserBankSet({
                Username: this.bankfrom.Username,
                BankID: this.bankfrom.BankID,
                Account: this.bankfrom.Account,
                Accountname: this.bankfrom.Accountname,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.dialog.bank=false
                        this.message(this.$t('msg55'))
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        search()
        {
            this.filterData.Visible=true
        },
        searched()
        {
            this.filterData.Visible=false
            this.getLog(1);
        },
        add()
        {
            this.act="add"
            this.from.ID=0
            this.from.Enable=1
            this.from.Username=""
            this.from.Coin=0
            this.from.Phone=""
            this.from.Line=""
            this.from.Email=""
            this.from.Memo=""
            this.dialog.Visible=true
        },
        update(item)
        {
            this.act="set"
            this.from.ID=item.ID
            this.from.Enable=item.Enable
            this.from.Username=item.Username
            this.from.Coin=item.Coin
            this.from.Phone=item.Phone
            this.from.Line=item.Line
            this.from.Email=item.Email
            this.from.Memo=item.Memo
            this.dialog.Visible=true
        },
        updated()
        {
            let chk = false
            this.$refs["ruleForm"].validate((valid) => {
              if (!valid) {
                chk = true;
              }
            },chk);
            if(chk)
            {
                this.message(this.$t('msg33'))
                return;
            }
            var api = apiUserSet
            let setPage = 1
            switch(this.act)
            {
                case "set":
                    api = apiUserSet
                    setPage = this.page.page
                break;
                case "add":
                    if(this.from.Password=="")
                    {
                        this.message(this.$t('msg50'))
                        return;
                    }
                    api = apiUserAdd
                break;
            }
            this.dialog.Visible=false
            api({
                ID: this.from.ID,
                Username: this.from.Username,
                Password: this.from.Password,
                CoinPassword: this.from.CoinPassword,
                Memo: this.from.Memo,
                Phone: this.from.Phone,
                Line: this.from.Line,
                Email: this.from.Email,
                Enable: this.from.Enable,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.getLog(setPage)
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        getLog(page)
        {
            let shdate = this.getSEDate(this.filterData.Date)
            apiUserList({
                page: page,
                FromTime: shdate.FromTime,
                ToTime: shdate.ToTime,
                Username:this.filterData.Username,
                LoginIP:this.filterData.LoginIP,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.results=response.data.data.data;
                        this.page=response.data.data.page;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>