<template>
    <div>
        <el-row >
            <div class="mainSearch" style="text-align: center;">
                <el-card class="box-card Dashboard-in-total" shadow="hover" style="width: 500px;">
                    <div>
                        <el-form :model="from" ref="ruleForm" :rules="rules" status-icon>
                            <el-col :span="24">
                                <el-form-item :label="$t('msg41')" prop="Username" class="form-item">
                                  <el-input v-model="from.Username" type="textarea" :rows="3" :placeholder="$t('msg84')"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('msg85')" prop="Amount" class="form-item">
                                  <el-input v-model="from.Amount" :placeholder="$t('msg85')" ></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('msg9')" prop="Type" class="form-item">
                                    <el-radio v-model="from.Type" :label="1">{{$t('Transfer.3')}}</el-radio>
                                    <el-radio v-model="from.Type" :label="2">{{$t('Transfer.6')}}</el-radio>
                                    <el-radio v-model="from.Type" :label="3">{{$t('Transfer.8')}}</el-radio>
                                </el-form-item>
                            </el-col>
                        </el-form>
                        <el-col class="dialog-footer" :span="24" style="padding-bottom: 20px;">
                            <el-button  icon="el-icon-check" @click="updated">{{$t('msg87')}}</el-button>
                        </el-col>
                    </div>
                </el-card>
            </div>
        </el-row>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiUserAddCoin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            from:{
                Username:"",
                Amount:0,
                Type:1,
            },
            rules: {
              Username: [
                { required: true, message: this.$t('msg31'), trigger: 'blur' },
              ],
              Amount: [
                { required: true, message: this.$t('msg85'), trigger: 'blur' },
              ],
            },
        }
    },
    methods: {
        updated()
        {
            apiUserAddCoin({
                Username: this.from.Username,
                Amount: this.from.Amount,
                Type: this.from.Type,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.message(this.$t('msg86'));
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>